<% layout("/layouts/boillerplate") %>

<div class="row mt-3">
<center>
  <div class="alert alert-danger col-6 ofset-8 ml-5rem " role="alert">
    <p class="alert-heading"> <%=message%></p>
   </div>
</center>
</div>

